body {
    font-family: Gill Sans, sans-serif;
    font-size: 20px;
    background: linear-gradient(to top left, #ff1e00, #ff7300);
    height: 100vh;
}

h1 {
    color: #000000;
    font-size: 40px;
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #ffffff; /* Green */
  color: rgb(0, 0, 0);
}
